span#history-show {
    display: none;
}

span#effort-show {
    display: none;
}

section.block.block_grades_effort_report.card.mb-3 {
    width: 46.2%;
    position: absolute;
    left: 49.5%;
    margin-left: 2%;
}

td.area-heading {
    background-color: #66A8D8;
}

td.assess-heading {
    text-align: right;
}

tr.reports-heading {
    text-align: center;
    background-color: lightgrey;
    /* font-weight: bold; */
}

td.below-expectation {
    background-color: red;
}

td.above-expectation {
    background-color: #8FD9A8;
}

td.inbetween-expectation {
    background-color: #FBF6F0;
}

@media only screen and (max-width: 1024px) {

    section.block.block_grades_effort_report.card.mb-3 {
        width: 100%;
        position: relative;
        margin-left: 0;
        left: 0;

    }
}