{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.

@package block_grades_effort_report
@copyright 2021 Veronica Bermegui
@license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}

<section>
    <div class="card-body grade-effort-trend" data-username={{username}}>
        <h3 class="lead">{{#str}} gradesandeffortreportitle, block_grades_effort_report {{/str}}</h3>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <div id="collapsetrend">
                        {{> block_grades_effort_report/performance_trend}}
                    </div>
                    <a href="#" data-toggle="collapse" data-target="#collapsehistory" aria-expanded="false"
                        aria-controls="collapsehistory" class="grade-history">
                        <div class="badge-actions"></div>
                        <span class="badge-name">{{#str}} gradehistory, block_grades_effort_report {{/str}} </span>
                        <span id="history-hide" class="fa fa-caret-right badge-name"></span>
                        <span id="history-show" class="fa fa-caret-down badge-name"></span>
                    </a>

                    <div class='collapse' id="collapsehistory">
                        <div data-region="grade-history"></div>
                        <div class='spinner-border  text-primary' id="grade-history-table" hidden>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <a href="#" data-toggle="collapse" data-target="#collapseeffort" aria-expanded="false"
                        aria-controls="collapseeffort" class="grade-effort">
                        <div class="badge-actions"></div>
                        <span class="badge-name">{{#str}} efforthistory, block_grades_effort_report {{/str}} </span>
                        <span id="effort-hide" class="fa fa-caret-right badge-name"></span>
                        <span id="effort-show" class="fa fa-caret-down badge-name"></span>
                    </a>

                    <div class='collapse' id="collapseeffort">
                        <div data-region="grade-effort"></div>
                        <div class='spinner-border  text-primary' id="grade-effort-table" hidden>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#js}}
require(['block_grades_effort_report/controls'], function(mod) {
mod.init();
});
{{/js}}